*{
  box-sizing: border-box;
}

.title{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
  
.down{
  display: flex;
  justify-content: center;
}

.body{
  background-color:#FFFFFF
}

.encabezado{
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.mascotas {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr  ;
  justify-items: center

}

.img-animal {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  transition: all 0.3s;
  transform: scale(1);
}  

.img-animal:hover {
  transform: scale(1.3);
}    


.logo {
  width:300px;
  height:200px;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.animal-encontrado {
  display: flex;
  justify-content: space-between;
}

.footer2 {
  display: flex;
  justify-content: space-around;
}

.animal-perdido {
  display: flex;
  justify-content: space-between;
}


@media screen and ( max-width: 1400px) { 
  .encabezado{
    flex-wrap: wrap;
  }
  .mascotas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(8,1fr) ;
    grid-template-rows: repeat(3,1fr)  ;
    justify-content: center;
    width: 100vw;
  
  }
}

@media screen and ( max-width: 992px) { 
  .logo {
    width:200px;
    height:150px;
  }
  .encabezado{
    flex-wrap: wrap;
  }
  .mascotas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6,1fr) ;
    grid-template-rows: repeat(4,1fr)  ;
    justify-content: center;
    width: 100vw;
  
  }
}

@media screen and ( max-width: 768px) { 
  .mascotas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(6,1fr)  ;
    justify-content: center;
    width: 100vw;
  
  }
}

@media screen and ( max-width: 576px) { 
  .logo {
    width:180px;
    height:140px;
  }
  .encabezado{
    flex-wrap: wrap;
  }
  .mascotas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(8,1fr)  ;
    justify-content: center;
    width: 100vw;
  
  }
}

@media screen and ( max-width: 320px) {
  .logo {
    width:130px;
    height:100px;
  }
  .encabezado{
    flex-wrap: wrap;
  }
  .mascotas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(12,1fr)  ;
    justify-content: center;
    width: 100vw;
  }
}